<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="user1" class="cloud.zhfsmy.entity.User"/>
    <!--通过get,set注入属性-->
    <bean id="user2" class="cloud.zhfsmy.entity.User">
        <property name="name" value="张三"/>
        <property name="age" value="18"/>
    </bean>
    <!--通过构造器注入-->
    <bean id="user3" class="cloud.zhfsmy.entity.User">
        <constructor-arg name="name" value="李四"/>
        <constructor-arg name="age" value="18"/>
    </bean>
    <!--特殊值处理-->
    <bean id="user4" class="cloud.zhfsmy.entity.User">
        <property name="name">
            <null/>
        </property>
    </bean>
    <bean id="user5" class="cloud.zhfsmy.entity.User">
        <property name="name">
            <value><![CDATA[a < b]]></value>
        </property>
    </bean>
    <!--引用类型注入-->
    <bean id="mobile" class="cloud.zhfsmy.entity.Mobile">
        <property name="number" value="10086"/>
        <property name="isp" value="中国移动"/>
    </bean>
    <bean id="user6" class="cloud.zhfsmy.entity.User">
        <property name="name" value="王五"/>
        <property name="age" value="18"/>
        <property name="mobile" ref="mobile"/>
    </bean>
    <!--内部bean-->
    <bean id="user7" class="cloud.zhfsmy.entity.User">
        <property name="name" value="赵六"/>
        <property name="age" value="18"/>
        <property name="mobile">
            <bean class="cloud.zhfsmy.entity.Mobile">
                <property name="number" value="10010"/>
                <property name="isp" value="中国联通"/>
            </bean>
        </property>
    </bean>
    <!--级联赋值-->
    <bean id="user8" class="cloud.zhfsmy.entity.User">
        <property name="name" value="王五"/>
        <property name="age" value="18"/>
        <property name="mobile" ref="mobile"/>
        <property name="mobile.number" value="10000"/>
        <property name="mobile.isp" value="中国电信"/>
    </bean>
    <!--数组赋值-->
    <bean id="user9" class="cloud.zhfsmy.entity.User">
        <property name="name" value="王五"/>
        <property name="age" value="18"/>
        <property name="hobbies">
            <array>
                <value>吃饭</value>
                <value>睡觉</value>
                <value>打豆豆</value>
            </array>
        </property>
    </bean>
    <!--集合赋值-->
    <bean id="user10" class="cloud.zhfsmy.entity.User">
        <property name="name" value="王五"/>
        <property name="age" value="18"/>
        <property name="friends">
            <list>
                <ref bean="user1"/>
                <ref bean="user2"/>
                <ref bean="user3"/>
                <ref bean="user4"/>
            </list>
        </property>
    </bean>
    <!--map赋值-->
    <bean id="user11" class="cloud.zhfsmy.entity.User">
        <property name="name" value="王五"/>
        <property name="age" value="18"/>
        <property name="telBook">
            <map>
                <entry key="10086" value-ref="user1"/>
                <entry key="10089" value-ref="user2"/>
            </map>
        </property>
    </bean>
    <!--集合引用赋值-->
    <util:list id="users">
        <ref bean="user1"/>
        <ref bean="user2"/>
        <ref bean="user3"/>
        <ref bean="user4"/>
    </util:list>
    <util:map id="telBooks">
        <entry key="10086" value-ref="user1"/>
        <entry key="10089" value-ref="user2"/>
    </util:map>
    <bean id="user12" class="cloud.zhfsmy.entity.User">
        <property name="name" value="集合引用"/>
        <property name="friends" ref="users"/>
        <property name="telBook" ref="telBooks"/>
    </bean>
    <!--配置文件注入-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <bean id="druidDatasource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${jdbc.url}"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--bean的作用域-->
    <!--singleton默认-->
    <bean id="singletonUser" class="cloud.zhfsmy.entity.User" scope="singleton"/>
    <!--prototype-->
    <bean id="prototypeUser" class="cloud.zhfsmy.entity.User" scope="prototype"/>
    <!--bean的生命周期-->
    <bean id="lifeCycle" class="cloud.zhfsmy.entity.LifeCycle" init-method="initMethod" destroy-method="destroyMethod">
        <property name="name" value="注入属性"/>
    </bean>
    <!--bean后置处理器-->
    <!--<bean id="processor" class="cloud.zhfsmy.ext.BeanProcessor"/>-->
    <!--FactoryBean-->
    <bean id="userFactory" class="cloud.zhfsmy.ext.UserFactoryBean"/>
    <!--自动注入-->
    <bean id="userDAO" class="cloud.zhfsmy.dao.UserDAOImpl"/>
    <bean id="userService" class="cloud.zhfsmy.service.UserServiceImpl" autowire="byType"/>
    <bean id="userControllerByType" class="cloud.zhfsmy.controller.UserController" autowire="byType"/>
    <bean id="userControllerByName" class="cloud.zhfsmy.controller.UserController" autowire="byName"/>
</beans>

